#toggle{
    font-size: 2rem;
    border: none;
    box-shadow: none;
}

#navContainer{
    height: 5rem;
        a{
            font-size: 2rem;
        }
        >button{
            display: none;
        }  
}

#dropdown~div{
    min-width: 15rem;
}

@media (max-width: 767px) {
    #navContainer{
        align-items: center;
        >button{
            display: block;
        }  
    }
    #nav{
        display:none ;
    }
    #nav~form{
        display: none;
    }
}
