.container{
    padding: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        width: 100%;
    }
    
    h1{
        font-size: 4rem;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 2rem;
    }
    .imageContainer{
        width: 80%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .card{
        display: flex;
        background-color: #F5F6EA;
        flex-wrap: wrap;
        padding: 2rem 1rem;
        align-items: center;
        justify-content: space-around;
        >div{
            text-align: center;
            margin: 1rem;
            >p{
                font-size: 2rem;
            }
            >p:first-of-type{
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
       
    }
    .ingredient{
        display: flex;
        >div{
            padding: 1rem;
            text-align: left;
            width: 45%;

            >p{
                font-size: 2rem;
                font-weight: bold;
                letter-spacing: 1px;
            }
            ul{
                >li{
                    font-size: 1.6rem;
                    padding: 0.4rem 0rem;
                }
                >li::before {
                    content: "\2022"; 
                    color: orange; 
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                  }
            }       
        }
    }
    
  
}

.green{
    color: green;
}
.red{
    color: red;
}

@media (max-width: 767px) {
    .ingredient{
        flex-direction: column;
        >div{
            width: 100% !important;
        }
    }
}