#drop{
    color: inherit;
    >button{
        background-color: transparent ;
       color: inherit;
       display: flex;
       align-items: center;
        border: none;

    }
    >div{
        padding: 0.5rem;
    }
    a{
        text-decoration: none;
    }
    ul{
        margin: 0;
        padding: 0;
    }
}