.card{
    height: 100%;
    img{
        width: 100%;
        height: auto;
    }
    a{
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: underline;
    }
    p{
        font-size: 1.2rem;
    }
}