.container{
   padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        margin-bottom: 2rem;
    }
    .noResult{
        >h2{
            color: red;
            >span{
                color: black;
            }
        }
    }
}